<template name="Home">
  <div class="home">
    <h1>Võistkondade manageerimine</h1>
      Igasuguste võistluste manageerimine kus on vaja tulemusi salvestada, võistkondi moodustada jne.<br>
      <h3>Featuurid:</h3>
      <ul>
          <li>liikmete lisamine, eemaldamine, muutmine</li>
          <li>võistkondadesse jagamine</li>
          <li>järjestuse loosimine</li>
          <li>tulemuste salvestamine</li>
          <li>protokolli genereerimine</li>
          <li>brauserirakendusena ja mobiiliäpina</li>
      </ul>
  </div>
</template>
